user={{ postfix_sql_user }}
password={{ postfix_sql_password }}
dbname={{ postfix_sql_dbname }}
table=aliases
select_field=destination
where_field=mail
hosts=127.0.0.1
additional_conditions = and enabled = 1